<div class="forgot-password__page" role="forgot-password-page">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-lg-6 col-md-5 col">
                <div class="forgot-password__banner">
                    <div class="forgot-password__img" style="background-image: url('../../assets/img/forgot-password/forgot-password-wallpaper.jpg')">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-7 col">
                <div class="forgot-password__column">
                    <div class="forgot-password-form" role="forgot-password-form">
                        <h1 class="forgot-password__title" i18n>Quên mật khẩu</h1>
                        <form name="forgot-passwordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="input-block">
                                <label for="user" class="forgot-password__email" i18n>Địa chỉ Email:</label>
                                <i class="fa-solid fa-envelope icon"></i>
                                <input formControlName="email" class="input" placeholder="Nhập email"/>
                                <span class="error" *ngIf="forgotPasswordForm.get('email').touched && 
                                    forgotPasswordForm.get('email').hasError('required')" i18n>Xin hãy nhập địa chỉ email</span>
                                <span class="error" *ngIf="forgotPasswordForm.get('email').hasError('email')" i18n>Địa chỉ email không chính xác</span>
                            </div>
                        </form>
                        <p class="tos-and-security" i18n>Bằng cách ấn vào nút đổi mật khẩu, bạn đã đồng ý với <a class="link" routerLink="/tos">điều khoản dịch vụ</a>
                            và <a class="link" routerLink="/security">chính sách bảo mật</a> của chúng tôi</p>
                        <button type="submit" name="submit" class="btn forgot-password__btn" i18n>Đổi mật khẩu</button>
                        <div class="register-and-login">
                            <a routerLink="/user/login" class="link" i18n>Quay lại đăng nhập</a>
                            <a routerLink="/user/register" class="link" i18n>Đăng ký tài khoản mới</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>