<div class="change-password__page" role="change-password-page">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-6 col">
                <div class="change-password__banner">
                    <div class="change-password__img" style="background-image: url('../../assets/img/change-password/change-password-wallpaper.jpg')">
                    </div>
                </div>
            </div>
            <div class="col-6 col">
                <div class="change-password__column">
                    <div class="change-password-form" role="change-password-form">
                        <h1 class="change-password__title">Đổi mật khẩu</h1>
                        <p class="change-password__description">Hãy nhập lại email và mật khẩu mới để xác nhận thay đổi mật khẩu</p>
                        <form name="change-passwordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <div class="input-block">
                                <label for="user" class="change-password__email">Địa chỉ Email: </label>
                                <i class="fa-solid fa-envelope icon"></i>
                                <input formControlName="email" class="input" placeholder="Nhập email"/>
                                <span class="error" *ngIf="changePasswordForm.get('email').touched && 
                                    changePasswordForm.get('email').hasError('required')">Xin hãy nhập địa chỉ email</span>
                                <span class="error" *ngIf="changePasswordForm.get('email').hasError('email')">Địa chỉ email không chính xác</span>
                            </div>
                            <div class="input-block">
                                <label for="password" class="change-password__password-title">Mật khẩu: </label>
                                <i class="fa-solid fa-key icon"></i>
                                <input formControlName="password" type="password" class="input" placeholder="Nhập mật khẩu mới"/>
                                <p class="instruction">Mật khẩu từ 6-32 ký tự, có ít nhất 1 kí tự chữ, 1 kí tự số</p>
                                <span class="error password-error" *ngIf="changePasswordForm.get('password').touched && 
                                    changePasswordForm.get('password').hasError('required')">Xin hãy nhập mật khẩu</span>
                                <span class="error password-error" *ngIf="changePasswordForm.get('password').hasError('minlength') ||
                                     changePasswordForm.get('password').hasError('maxlength')">Mật khẩu có độ dài không phù hợp</span>
                            </div>
                            <div class="input-block">
                                <label for="re-password" class="change-password__re-password-title">Nhập lại mật khẩu: </label>
                                <i class="fa-brands fa-keybase icon"></i>
                                <input formControlName = "re-password" type="password" class="input" placeholder="Nhập lại mật khẩu"/>
                                <span class="error" *ngIf="changePasswordForm.get('re-password').touched && 
                                    changePasswordForm.get('re-password').invalid">Xin hãy nhập lại mật khẩu</span>
                            </div>
                            <button type="submit" name="submit" class="btn change-password__btn">Thay đổi mật khẩu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>