.logo {
    height: 100px;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-gray-200);
    border-radius:4px;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 500px;
}

.search-bar {
    border: none;
    background-color: var(--bs-gray-200);
    padding: 10px;

}

.select-input {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-gray-200);
    width: 300px;
}

.btn-search {
    background-color: var(--bs-purple);
    color: var(--bs-white);
    height: 44px;
}

.icon {
    padding: 10px;
}

.divider {
    border-right: 1px solid var(--bs-gray-400);
    height: 30px;
    display: block;
}

.location-select {
    position: relative;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.header__navbar-user-name {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 4px;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: 70%;
    right: 100px;
    background-color: var(--bs-white);
    border-radius: 2px;
    width: 300px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    z-index: 1;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 18px 300px;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    right: 0px;
    top: -30px;

}

.header__navbar-user-item--seperate {
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.0rem;
    padding: 10px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:first-child:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.btn-purple {
    background-color: var(--bs-purple);
    color: var(--bs-white)
}

.navbar {
    background-color: var(--bs-purple);
}

.nav-link {
    color: white
}