<div class="container-xxl">
    <div class="info">
        <h1 class="name" i18n>Công ty cổ phần JobOfferer</h1>
        <p class="address" i18n>Số nhà 11E, ngách 206/2, ngõ 206, đường Cổ Linh, phường Long Biên, quận Long Biên, Hà Nội</p>
    </div>
    <div class="map-holder">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.0907817499926!2d105.8974120679696!3d21.025419998063892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd371f61e86ad3bee!2zMjHCsDAxJzMxLjUiTiAxMDXCsDUzJzUzLjYiRQ!5e0!3m2!1svi!2s!4v1659431922876!5m2!1svi!2s" class="map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
