<div class="banners">
    <carousel>
        <slide *ngFor="let item of bannerList; index as i">
            <a routerLink="{{item.link}}" class="banner__link">
                <img src="{{imgUrl + item.home_slide_image}}" alt="first slide" style="display: block; width: 100%;" class="banner">
            </a>
        </slide>
      </carousel>
</div>
<div class="company">
    <div class="container-xl">
        <h3 class="header" i18n>Các công ty đang tuyển dụng</h3>
        <div class="company__list">
            <div class="row gy-3">
                <div class="col-sm-4 col-lg-2 col-6" *ngFor="let item of companyDisplayList">
                    <div class="company__item">
                        <a routerLink="/main/company/company-info/{{item.Id}}">
                            <div class="avatar-holder">
                                <img src="{{imgUrl + item.avatar}}" alt="" class="avatar">
                            </div>
                            <h6 class="company__name">{{item.name}}</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="job">
    <div class="container-xl">
        <h3 class="header" i18n>Các việc làm đang được đăng tuyển</h3>
        <div class="row gy-3">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of jobList; index as i">
                <div class="job__item">
                    <div class="thumbnail-holder">
                        <img src="{{imgUrl + this.jobCompanyList[i].avatar}}" class="thumbnail">
                    </div>
                    <div class="job__info">
                        <a href="/main/job/job-info/{{item.job_id}}" class="job__name">{{item.name}}</a>
                        <a href="/main/company/company-info/{{this.jobCompanyList[i].Id}}"class="job__company">{{this.jobCompanyList[i].name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog">
    <div class="container-xl">
        <h3 class="header" i18n>Cuộc sống IT</h3>
        <div class="row gy-3">
            <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of blogList; index as i">
                <div class="blog__item">
                    <a href="/main/blog/blog-info/{{item.blog_id}}" class="image__link">
                        <div class="blog__thumbnail-holder">
                            <div class="view-mask"></div>
                            <img src="{{imgUrl + this.blogList[i].avatar}}" class="blog__thumbnail">
                        </div>
                    </a>
                    <div class="blog__info">
                        <a href="/main/blog/blog-info/{{item.blog_id}}" class="blog__name">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>