<div class="container-xl">
    <h1 class="title">Danh sách công việc đã ứng tuyển</h1>
    <form [formGroup]="registedForm" class="form">
      <div class="block">
        <label for="name" class="label">Tên công việc</label>
        <input formControlName="name" type="text" class="input">
        <button class="btn btn-find">Tìm kiếm</button>
        <a routerLink="/main/job" class="btn btn-danger">Quay lại</a>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên công việc</th>
          <th scope="col">Link</th>
          <th scope="col">Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jobList; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.name}}</td>
          <td><a href="/main/job/job-info/{{item.job_id}}">Trang công việc</a></td>
        <td>
            <a (click)="deleteItem(jobUserList[i].job_user_id)" class="delete-link">
                <i class="fa-solid fa-xmark"></i>
              </a>
        </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <div class="col-md-12">
        <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow"
        [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>
