
.must {
    display: inline-block;
    color: var(--bs-red);
}

.title {
    padding-top: 50px;
    color: var(--bs-indigo);
}

.block {
    margin-left: 0;
    display: block;
    position: relative;
    padding-bottom: 40px;
}

.label {
    width: 188px;
    text-align: right;
    padding-right:10px;
}

.input {
    width: 250px;
}

.error {
    color: var(--bs-red);
    left: 188px;
    position: absolute;
    bottom: 16px;
}

.form {
    margin-top: 20px;
    padding: 0 100px;
}
.edit-link {
    text-decoration: none;
    color: var(--bs-primary);
    margin-right: 12px;
    background-color: transparent;
    border: none;
}

.delete-link {
    color: var(--bs-danger);
    cursor: pointer;
}

.btn-create,
.btn-find {
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--bs-indigo);
    color: var(--bs-white)
}

.table {
    margin-top: 20px;
}


.btn-save {
    margin-left: 170px;
    margin-right: 30px;
}

.btn > i {
    margin-right: 8px;
}
.pagination {
    position: absolute;

    right:70px;
}