.c-2-4 {
    flex: 0 0 25%;
}

.container {
    margin-top: 30px;
}
#footer{
    border-top: 1px solid var(--bs-gray-200)
}

.footer-container {
    display: flex;
}

.contact__messenger {
    display: flex;
    align-items: center;
}

.contact__messenger-content {
    margin-left: 8px
}

.contact__messenger-header {
    font-size: 1.2rem;
    margin-top: 0;
}

.contact__messenger-url {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    bottom: 0;
}

.contact__phone {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.contact__phone-icon {
    width: 170px;
    margin-bottom: 32px;
}
.contact__phone-content {
    margin-left: 8px;
}

.contact__phone-content h1 {
    font-size: 1.2rem;
}

.contact__phone-content p {
    font-size: 1rem;
    cursor: pointer;
}

.contact__phone-content p:hover {
    color: var(--primary-color);
    transition: all 0.3s;
}

.contact__phone-content p:not(:hover) {
    transition: all 0.3s;
}

.footer__header {
    font-size: 1.3rem;
    margin-left: 2rem;
}

.footer__list {
    margin-top:1.25rem;
    list-style: none;
}

.footer__item a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    line-height: 3.2rem;
    font-size: 1rem;
}

.footer__item a:hover {
    color: var(--primary-color);
    transition: all 0.3s;
}

.footer__item a:not(:hover) {
    transition: all 0.3s;
}

.follow__content {
    margin-top: 1.2rem;
}

.follow__item {
    text-decoration: none;
    padding: 6px;
}

.follow__item:first-child {
    padding-left: 0;
}

#credit {
    margin-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.credit__content {
    margin-top: 1rem;
    padding-bottom: .5rem;
}  

.credit__content p{
    display: flex;
    justify-content: center;
    color: #999;
    font-size: .9rem;
}

.logo {
    height: 130px;
}

.follow__content {
    margin-left: 2rem;
}